<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vu.smartphoneftp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="vu.smartphoneftp.FTPconnect_activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vu.smartphoneftp.ConnectionEdit_Activity"
            android:label="@string/activity_edit_title"
            android:parentActivityName="vu.smartphoneftp.FTPconnect_activity" >
            <intent-filter>
                <action android:name="vu.smartphoneftp.ConnectionEdit_Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vu.smartphoneftp.FTPconn_activity" />
        </activity>
        <activity
            android:name="vu.smartphoneftp.FileBrowser_Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="vu.smartphoneftp.FileBrowser_Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="vu.smartphoneftp.SelectDestination_Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="vu.smartphoneftp.SelectDestination_Activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
